confluent-kafka==0.11.6
neo4j-driver==1.7.6
py2neo==4.3.0
pyArango==1.3.4
re2==0.2.24
redis==3.4.1
requests==2.31.0
ujson==2.0.3



# yum install librdkafka-devel re2-devel python-pip  python-devel gcc make gcc-c++ cpp  -y
# pip install --no-binary :all: confluent-kafka==0.11.6